{% load static %}

<!--To use crispy forms to manage Django forms-->
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style1.css'%}" type="text/css">

    <!--Title-->
    <title>
        Dashboard
    </title>

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">


</head>

<body>
    <div class="wrapper">
    <div class="content-container">
    <!--Navbar-->
    <nav style="background-color:black!important;" class="navbar navbar-light bg-light navbar-expand-lg sticky-top">
        <a style="color:white;" class="navbar-brand" href="{% url 'home' %}">WorkPlus</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav navbar-tab ml-auto">
                <div class="line-break"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">
                        <button type="button" class="btn btn btn-dark btn-lg btn-outline-light">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle"
                                viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            My Profile
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'groupfitness-home' groupid=groupuuid %}">
                        <button type="button" class="btn btn btn-dark btn-lg btn-outline-light">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/> 
                            </svg>
                            Go to Group's Fitness page
                        </button>
                    </a>
                </li>

                <!--To check if user has connected to FitBit or not-->
                {% if user.fitbituser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'disconnect-fitbit' %}">
                            <button type="button" class="btn btn btn-dark btn-lg btn-outline-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg>
                                Disconnect from Fitbit
                            </button>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=22C5N8&redirect_uri=http://localhost:8000/fitbit&scope=activity%20nutrition%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight">
                            <button type="button" class="btn btn btn-dark btn-lg btn-outline-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg>
                                Connect to Fitbit
                            </button>
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <button type="button" class="btn btn btn-dark btn-lg btn-outline-light">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                                <path fill-rule="evenodd"
                                    d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                            </svg>
                            Log out
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

        <!--Display Members of the group-->
        <div class="row">
            <div class="column left-dash">
                <h2 style="text-transform: uppercase;" align="center">{{ groupName }}</h2>
                <hr size="1">
                <h4 align="center">Team members</h4>
                <table class="table table-striped ">
                    {% for name, type in members.items %}
                        <tr>
                            <td align="center">{{ name.strip }}</td>
                            <td><small>{{ type.strip }}</small></td>

                            <!--Show remove user if user is leader-->
                            {% if usertype == "leader" %}
                                <td class="td-cross">
                                    <form method="POST" action="{% url 'group' groupid=groupuuid %}">
                                        {% csrf_token %}
                                        <div class="cross">
                                            <button type="submit" name="removeUser" value="{{ name }}"
                                                class="btn-boot btn-dark btn-elegant btn-rounded btn-sm my-0 waves-effect waves-light">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                    fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            {%endif%}
                        </tr>
                    {% endfor %}
                    
                </table>

                <!--Show add user option if user is leader-->
                {% if usertype == "leader" %}
                <hr>
                    <h2 align="center">Add User</h2>
                <div class="adduserform" style="margin-left:20px;margin-right:20px;">
                    <form method="POST" action ="{% url 'group' groupid=groupuuid %}">
                        {% csrf_token %}
                            {{ formAddUser | crispy }}
                        <div style="text-align: center; width:30%; margin:10px auto;">
                            <button class="btn btn btn-dark btn-lg btn-outline-light" type="submit" name="addNewUserSubmit">
                                Add User
                            </button>
                        </div>
                    </form>
                </div>
                {%endif%}
                <hr>
            </div>

            <div class="column middle-dash">
                <div class="projects-pane">
                    <h3 align="center">Projects</h3>

                    <!--If user is a leader, he can add projects-->
                    {% if usertype == "leader" %}

                    <!-- Add a new project form -->
                    <form method="POST" action="{% url 'group' groupid=groupuuid %}">
                        {% csrf_token %}
                        <table class="table-striped table-bordered projects">
                            <tr>
                                <td align="center">{{formAddProject.project_name }}</td>
                                <td align="center">{{formAddProject.project_description }}</td>
                                {{ formAddProject.work_group }}
                                {{ formAddProject.status }}
                                <td align="center">
                                    <button id="addNewProjectBtn" type="submit" name="addNewProjectSubmit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>

                    {%endif%}

                    <table class="table-striped table-bordered projects">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>

                            <!--If User is a leader, display leader-->
                            {% if usertype == "leader" %}
                                <th></th>
                            {%endif%}
                        </tr>

                        <!--Display projects-->
                        {% for project in projects %}
                        <tr>
                            <td align="center">{{ project.projectName }}</td>
                            <td align="center">{{ project.projectDescription }}</td>
                            {% if usertype == "leader" %}
                                <!-- TO DO !!!-->
                                {% if project.projectStatus == "not completed" %}
                                    <td align="center">
                                        <form method="POST" action="{% url 'group' groupid=groupuuid %}">
                                            {% csrf_token %}
                                            <button type="submit" name="completeProjectSubmit" value = "{{ project.projectID }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                    class="bi bi-check-square-fill tick" viewBox="0 0 16 16">
                                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                                                </svg>
                                            </button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td align="center">
                                        Complete
                                    </td>
                                {%endif%}
                                <td align="center">
                                    <form method="POST" action="{% url 'group' groupid=groupuuid %}">
                                        {% csrf_token %}
                                        <button type="submit" name="removeProject" value="{{ project.projectID }}"
                                            class="btn-boot btn-dark btn-elegant btn-rounded btn-sm my-0 waves-effect waves-light">
                                            <img height="20px" width="20px" src="https://robottip.com/wp-content/uploads/2017/06/remove.png"></img>
                                        </button>
                                    </form>
                                </td>
                            {% else %}
                                <!-- TO DO !!!-->
                                <td align="center">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-check-square-fill tick" viewBox="0 0 16 16">
                                            <path
                                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                                        </svg>
                                    </button>
                                </td>
                            {%endif%}
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <hr>

                <div class="tasks-pane">

                    <h3 align="center">Tasks</h3>
                    
                    {% if usertype == "leader" %}
                    <table class="table-striped table-bordered projects">
                        <tr>
                    <!-- Add a task -->
                            <form method="POST" action="{% url 'group' groupid=groupuuid %}">
                                {% csrf_token %}
                                <td align="center">{{ formAddTask.task_name }}</td>
                                <td align="center">{{ formAddTask.task_description }}</td>
                                <td align="center">{{ formAddTask.project }}</td>
                                    {{ formAddTask.author }}
                                    {{ formAddTask.work_group }}
                                    {{ formAddTask.status }}
                                <td align="center">
                                    <button type="submit" name="addNewTaskSubmit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                        </svg>
                                    </button>
                                </td>
                            </form>
                        </tr>
                    </table>
                    {%endif%}

                    <!--Display tasks-->
                    <table class="table-striped table-bordered projects">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Boss</th>
                            <th>Project</th>
                            <th>Status</th>
                            {% if usertype == "leader" %}
                                <th></th>
                            {%endif%}
                        </tr>

                        {% for task in tasks %}
                        <tr>
                            <td align="center">{{ task.taskName }}</td>
                            <td align="center">{{ task.taskDescription }}</td>
                            <td align="center">{{ task.author }}</td>
                            <td align="center">{{ task.projectName }}</td>
                            {% if usertype == "leader" %}
                                {% if task.taskStatus == "not completed" %}
                                <td align="center">
                                    <form form method="POST" action="{% url 'group' groupid=groupuuid %}">
                                        {% csrf_token %}
                                        <button type="submit" name="completeTaskSubmit" value="{{ task.taskID }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-check-square-fill tick"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                                {% else %}
                                <td align="center">
                                    Complete
                                </td>
                                {%endif%}
                                <td>
                                    <form method="POST" action="{% url 'group' groupid=groupuuid %}">
                                        {% csrf_token %}
                                        <button type="submit" name="removeTask" value="{{ task.taskID }}"
                                            class="btn-boot btn-dark btn-elegant btn-rounded btn-sm my-0 waves-effect waves-light">
                                            <img height="20px" width="20px" src="https://robottip.com/wp-content/uploads/2017/06/remove.png"></img>
                                        </button>
                                    </form>
                                </td>
                            {% else %}
                                {% if task.taskStatus == "not completed" %}
                                <td align="center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check-square-fill tick" viewBox="0 0 16 16">
                                    </svg>
                                </td>
                                {% else %}
                                <td align="center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check-square-fill tick" viewBox="0 0 16 16">
                                        <path
                                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                                    </svg>
                                </td>
                                {%endif%}
                            {%endif%}
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <hr>

                <!--Upload files-->
                <div style="align-content: center;" class="file-input container">
                    <div style="height:100px;width:450px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto; text-align: center; width:90%; margin:10px auto;;"
                        id="files">
                        <h3 align="center">File Storage</h3>
                        {% if files %}
                        <ul>
                            {% for document in files %}
                            <li><a href="{{ document.file.url }}">{{ document.file.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No documents.</p>
                        {% endif %}
                    </div>
                
                    <div
                        style="height:fit-content; border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif; text-align: center; width:90%; margin:10px auto;">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'group' groupid=groupuuid %}">
                            {% csrf_token %}
                            {% if fileError %}
                            {{ message }}
                            {%endif%}
                            {{ formAddFile.file | as_crispy_field }}
                            {{ formAddFile.work_group }}
                            <button type="submit" name="addFileSubmit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>

            </div>

            <!-- Chat Box program -->
                <div class="column right-dash">
                <div class="chat" style="height:100%;margin-top:30px;text-align: center;">
                <textarea style="height:80%;" readonly id="chat-text"></textarea>
                            <input id="input" type="text" size="21px"></br>
                            <input  id="submit" type="button" value="Send">
                        </div>
                </div>
                </div>
    </div>

    <!--Footer-->
    <footer class="fs-6 text-white">
        <div class="container footer-container">
            <p class="float-right">
                <a class="text-light" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor"
                        class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </a>
            </p>
            <p align="center">Powered by <img src="{% static 'fitbit.png' %}" alt="FitBit API" height="25px"> and <img
                    src="{% static 'nrg.png' %}" alt="Nike Run Club App" height="45px"></p>
        </div>
    </footer>
    </div>


<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>

</body>
</html>


<!--Chat program queries-->
{{ msgs|json_script:"msgs"}}
{{ groupuuid|json_script:"groupuuid" }}
{{ user.username|json_script:"user_name"}}

<script>
    var userName = JSON.parse(document.getElementById("user_name").textContent)
    if (userName == "") {
        userName = "Anonymous"
    }
    const groupID = JSON.parse(document.getElementById('groupuuid').textContent)

    const chatTextArea = document.getElementById('chat-text')

    const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/group/' +
        groupID +
        '/'
    )
    function getOldMessages() {
        const messages = JSON.parse(document.getElementById("msgs").textContent)
        for (i = 0; i < messages.length; i++) {
            chatTextArea.value += (messages[i][0] + ": " + messages[i][1] + "\n")
        }
        chatTextArea.scrollTop = chatTextArea.scrollHeight
    }
    getOldMessages()

    // Execute a function when the user releases a key on the keyboard
    document.querySelector("#input").addEventListener("keyup", function (event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.querySelector('#submit').click();
        }
    });

    document.querySelector('#submit').onclick = function (e) {
        e.preventDefault()
        const messageInputDom = document.querySelector("#input")
        const message = messageInputDom.value
        if (message != "") {
            chatSocket.send(JSON.stringify({
                "message": message,
                "user": userName,
            }))
            messageInputDom.value = ""
        }

    }

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data)
        if (data.message) {
            if (data.user) {
                chatTextArea.value += (data.user + ": " + data.message + "\n")
                chatTextArea.scrollTop = chatTextArea.scrollHeight
            }
        }
    }

    chatSocket.onclose = function (e) {
        document.location.replace("{% url 'home' %}")
    }
</script>